div.card {
    height: 137px;
    margin: 0 15px;
    width: 92%;
}
div.card-grid div{
    width: 100%;
}

.card-grid-container{
    width: 100%;
}

.card:hover {
    background-color: #cacaca;
    cursor: pointer;
}

.card:active {
   color: #ffffff;
    background-color: #cacaca;
}

.card div{
    text-align: center;
}

.card div span{
    margin-top: 10px;
    font-size: 1.5vw;
}