.domain-container a {
margin: 9px 30px 0px 0;
}

.domain-container{
display: flex;
flex-direction: column;
min-height: 100vh;
margin: 0px;
}

.side-bar{
width: 256px;
flex-shrink: 0;
background-color: #61dafb;
}

.content{
flex: 1;
display: flex;
flex-direction: column;
background-color: salmon;
}

.header-bar{
    height: 70px;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    background-color: purple;
}

.header-icon-container{
    width: 300px;
}

.header-title-container{
    width: 300px;
}

.header-lang-select-container{
    width: 300px;
}   

.page-content{
width: 100%;
height: 100vh;
background-color: #e4c7c7;
display: flex;
flex-direction: row;
}

.header-icon-container .logo-container {
    margin: 12px 10px;
}