.navigation-container{
    display: flex;
    margin: 25%;
    margin-top: 5%;
    
}
.landing-page{
    padding: 22px 30px;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
    max-width: 98vw;
    text-align: center;
    margin: 15px 0px;
    height: 54px;

}

.title-container h3 {
    font-size: 3vw;
}

.landing-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 94%;
}

@media only screen and (max-width: 680px) {
    .landing-header {
        display: flex;
        flex-direction: column;
    }

    .title-container h3 {
        font-size: 5vw;
    }
}

.landing-header div {
    max-width: 300px;
}